KSP.exe
KSP.log
MiniAVC.log
PartDatabase.cfg
thumbs/*Auto-Saved Ship.png
Logs/*.log
KSP_Data/*
thumbs/*
Screenshots/*
saves/*/Ships/*/Auto-Saved Ship.craft
saves/*/Ships/*/Untitled Space Craft.craft
saves/*/AGExt*.cfg
GameData/Squad/*
GameData/ModuleManager.*
GameData/PlanetShine/Plugins/PlanetShine.log
GameData/MechJeb2/Plugins/PluginData/MechJeb2/*
GameData/ActiveTextureManagement/textureCache/*
GameData/Felbourn/Docs/*.txt
