<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="editorWinPos">
        <xmin>210</xmin>
        <xmax>617</xmax>
        <ymin>255</ymin>
        <ymax>705</ymax>
    </rect>
    <rect name="presetWinPos">
        <xmin>604</xmin>
        <xmax>804</xmax>
        <ymin>548</ymin>
        <ymax>684</ymax>
    </rect>
    <rect name="controlWinPos">
        <xmin>223</xmin>
        <xmax>530</xmax>
        <ymin>106</ymin>
        <ymax>200</ymax>
    </rect>
    <bool name="useEC">1</bool>
    <bool name="allowFlipHack">0</bool>
</config>