<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="editorWinPos">
        <xmin>122</xmin>
        <xmax>529</xmax>
        <ymin>349</ymin>
        <ymax>799</ymax>
    </rect>
    <rect name="presetWinPos">
        <xmin>1190</xmin>
        <xmax>1390</xmax>
        <ymin>220</ymin>
        <ymax>304</ymax>
    </rect>
    <rect name="controlWinPos">
        <xmin>162</xmin>
        <xmax>469</xmax>
        <ymin>133</ymin>
        <ymax>227</ymax>
    </rect>
    <bool name="useEC">1</bool>
    <bool name="allowFlipHack">0</bool>
</config>