<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="editorWinPos">
        <xmin>247</xmin>
        <xmax>651</xmax>
        <ymin>261</ymin>
        <ymax>711</ymax>
    </rect>
    <rect name="presetWinPos">
        <xmin>1190</xmin>
        <xmax>1390</xmax>
        <ymin>220</ymin>
        <ymax>304</ymax>
    </rect>
    <rect name="controlWinPos">
        <xmin>312</xmin>
        <xmax>578</xmax>
        <ymin>70</ymin>
        <ymax>164</ymax>
    </rect>
    <bool name="useEC">1</bool>
    <bool name="allowFlipHack">0</bool>
</config>