<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="ManifestPosition">
        <xmin>1144</xmin>
        <xmax>1463</xmax>
        <ymin>207</ymin>
        <ymax>709</ymax>
    </rect>
    <rect name="TransferPosition">
        <xmin>57</xmin>
        <xmax>679</xmax>
        <ymin>233</ymin>
        <ymax>701</ymax>
    </rect>
    <rect name="RosterPosition">
        <xmin>814</xmin>
        <xmax>1137</xmax>
        <ymin>198</ymin>
        <ymax>298</ymax>
    </rect>
    <rect name="SettingsPosition">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="DebuggerPosition">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <bool name="ShowDebugger">0</bool>
    <bool name="AppLauncher">0</bool>
</config>