<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="ManifestPosition">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="TransferPosition">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="RosterPosition">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>100</ymax>
    </rect>
    <rect name="SettingsPosition">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="DebuggerPosition">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <bool name="ShowDebugger">0</bool>
    <bool name="AppLauncher">0</bool>
</config>