<?xml version="1.0" encoding="utf-8"?>
<config>
    <double name="gui_scale">0.600000023841858</double>
    <rect name="window_position">
        <xmin>1353</xmin>
        <xmax>1593</xmax>
        <ymin>42.81</ymin>
        <ymax>317.01</ymax>
    </rect>
    <bool name="drawHudIcon">1</bool>
    <bool name="allowAutoPortTargeting">1</bool>
    <bool name="excludeDockedPorts">1</bool>
    <bool name="showHUDIconWhileEva">0</bool>
</config>